{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>Today's Special</h1>
    <div class="row p-2">
        {% for food in foods %}
        <div class="card m-2 p-0" style="width: 16rem;">
            <img src="{{ food.image }}" class="card-img-top p-0" alt="Food Item Image" style="width: 254px; height: 200px;">
            <div class="card-body">
              <h5 class="card-title" id="itemName{{ food.id }}">{{ food.name }}</h5>
              <p class="card-text" id="itemPrice{{ food.id }}">{{ food.price }}</p>
              <a href="#" class="btn btn-primary" onclick="addItem('{{ food.id }}')">Add to Cart</a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/order.js' %}"></script>

{% endblock %}