{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center me-auto ms-auto mt-5">
            <form method="post">
                {% csrf_token %}
                <h1 class="h1 mt-1">Login</h1>
                <div class="m-1">
                    <input type="text" name="username" placeholder="Enter your Username" class="form-control">
                </div>
                <div class="m-1">
                    <input type="password" name="password" placeholder="Enter your Password" class="form-control">
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <small class="text-danger">{{ message }}</small>
                    {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-sm btn-success mt-2">Login</button>
            </form>
            <div class="mt-2">
                <span class="h4 text-primary">Don't have an Account?</span>
                <a href="{% url 'signup' %}" class="h4 text-primary">Signup Now!</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}